/*  DAEDCE
    B6DEC5
    E6E6E6
    DEDEDE
    C9C4C3 */

html {
    background-color: #cad2c5;
}

.title {
    color: #2f3e46;
    font-family: Lora;
    font-size: 250%;
    letter-spacing: .5vw;
    text-align: center;
}

.table {
    display: flex;
}

.name {
    display: flex;
    flex-direction: column;
}

.tableTitle {
    color: #EDF0EE;
}

table, th, td {
    /* border: 1px solid #857b79; */
    padding: .5vw 1vw;
    font-family: poppins;
    /* background-color: #857b79; */
  }

table {
    align-items: center;
    align-self: center;
    width: 100%;
}

td {
    border: 1px solid #354f52;
    font-size: 90%;
    color: #2f3e46;
    /* text-align: center; */
}

/* img {
    width: 50%;
    height: 50%;
} */

.row1 {
    background-color: #354f52;
    font-size: 125%;
}

.col1 {
    text-align: center;
}

.weaponsPic {
    width: 15%;
    height: 15%;
}

.flex {
    display: flex;
}